@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

.header {
    position: relative;
}

.bg-dark-purple {
    background-color: #9f7aea;
}

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    
  }
  .svg-container {
    height: 150px;  /* This is an example height. Adjust it to your needs. */
}
.topcurve {
    background-color: rgb(188, 104, 206);
}
/* Styles for the header */
:root {
    --base-size: 18vw; /* This will be our responsive base size. We can adjust this value for different viewport sizes using media queries. */
    --shift-ph1: 5deg;
}
.container {
    display: grid;
    max-width: 1500px;  /* or whatever maximum width you prefer */
    margin: 0 auto;  /* centers the container */
}

.title {
    font-family: 'Roboto Mono', monospace;
    font-size: 4rem;
    font-weight: 700; 
    color: #ffffff;
    position: relative;
    top: 25%; 
    left: 5%; 
    z-index: 4;
    max-width: 60%;  /* Allow it to take up to 90% of its container width */
}
.feature {
    display: flex;
    align-items: center; /* Align vertically in the middle */
    justify-content: space-between; /* Distribute space between the text and the phone */
    padding: 2rem 0; /* Some padding to separate the features */
}
.features-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.feature-text {
    display: block !important;
    position: relative !important;
    z-index: 10 !important;
}

.feature h1, .feature h2 {
    margin-left: 4rem; /* Remove default margins */
    color: #0c0c0c; /* Dark gray color */
}

.feature h1 {
    font-size: 2rem; /* Larger font size for h1 */
    font-weight: bold; /* Bold weight */
    margin-bottom: 1rem; /* Space between h1 and h2 */
}

.feature h2 {
    font-size: 1.2rem; /* Adjusted font size for h2 */
}
.outer-phone-shell {
    width: 16rem;

    height: 33.5rem;
    background-color: #000;
    border-radius: 2.75rem;
    position: relative;
    overflow: hidden;
    transform: rotate(var(--shift-ph1));
    left: 25%;
    z-index: 2; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.outer-phone-shell2 {
    width: 16rem;
    height: 33.5rem;
    background-color: #000;
    border-radius: 2.75rem;
    position: relative;
    transform: rotate(-3deg);
    overflow: hidden;
    margin-top: 20rem; /* Top margin adjusted to lower the phone, left margin adjusted to move it to the right */
    margin-right: 12rem;
    z-index: 2; 
}
.outer-phone-shell3 {
    width: 16rem;
    height: 33.5rem;
    background-color: #000;
    border-radius: 2.75rem;
    position: relative;
    transform: rotate(3deg);
    overflow: hidden;
    margin-top: 6rem; /* Top margin adjusted to lower the phone, left margin adjusted to move it to the right */
    margin-right: 12rem;
    z-index: 2; 
}

.outer-phone-shell4 {
    width: 16rem;
    height: 33.5rem;
    background-color: #000;
    border-radius: 2.75rem;
    position: relative;
    transform: rotate(-3deg);
    overflow: hidden;
    margin-top: 6rem; /* Top margin adjusted to lower the phone, left margin adjusted to move it to the right */
    margin-right: 12rem;
    z-index: 2; 
}


.phone-container {
    width:  15rem;
    height: 32.5rem;
    background-color: #000000;
    border-radius: 2.5rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    z-index: 2; 
}

.screen {
    position: absolute;
    top: 0.1rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 2.5rem; 
    overflow: hidden;
    border-radius: 2.1875rem;
}

.notch {
    width: 7.6rem;
    height: 1.5rem;
    background-color: black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 1.25rem 1.25rem;
    z-index: 3; 
}

.screen img {
    background-repeat: no-repeat;

    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute; 
    background-color: #000;
    top: 0;
    left: 0;
}
@media (max-width: 800px) {
    :root {
        --base-size: 70vw; /* Making the phone much larger for mobile screens */
        --shift-ph1: 0deg;
    }
    
    /* Optional: Any other mobile-specific styles can be added here */
}